@import url("https://fonts.googleapis.com/earlyaccess/cwtexyen.css");
*{
    box-sizing: border-box;
}
body{
    background-color: #f7f5f1; 
    margin: 0;
    font-family: "Noto Serif TC", serif;
}


header {
    background-color: #f7f5f1;
    color: #222;
    text-align: center;
    padding: 25px;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 8px;
}

nav {
    background-color: #dedadb;
    text-align: center;
    font-family: "Noto Serif TC", serif;
    padding: 10px 0;
}

nav a{
    padding: 12px 70px;
    display: inline-block;
    font-size: 23px;
    color: #000;
    text-decoration: none;
    letter-spacing: 3px;
}

nav a:hover{
    background-color: #2f3a5e;
    color: #fff;
}

article {
    width: 100%;
    padding: 30px;
}

.card{
    background-color: #FFFCEC;
    padding: 30px;
    margin: 20px auto;
    width: 85%;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.about-section h2{
    text-align: center;
    font-size: 32px;
    letter-spacing: 8px;
    margin-bottom: 25px;
}

.about-container{
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

img{ 
    width: 25%; 
    height: 15%;
    object-fit: cover;
    border: 4px solid #eee;
} 

.about-section p{
    font-size: 25px;
    color: #333;
    line-height: 1.9;
    text-indent: 2em;
    text-align: justify;
    width: 55%;
    font-family: 'cwTeXYen', sans-serif; 

}
.contact-section h2{
    text-align:center;
    font-size:28px;
    letter-spacing:6px;
    margin-bottom:20px;
    font-weight:700;
}
  
.contact-row{
    display:flex;
    justify-content:center;
    gap:250px; 
    padding:10px 0 25px;
}
  
.contact-left, .contact-right{
    text-align:left;
    font-size:22px;
    line-height:1.8;
}
  
.contact-section a{
    color:#003c90;
    text-decoration:none;
    font-weight:600;
}
.contact-section a:hover{
    text-decoration:underline;
}
.interest-section h2{
    text-align:center;
    font-size:30px;
    letter-spacing:6px;
    margin-bottom:20px;
    font-weight:700;
}
.interest-chip{
    background:#e4e0dc;          
    border-radius:24px;
    padding:18px 18px;
    display:flex;
    gap:18px;
    align-items:flex-start;
}
  
.interest-label{
    display:inline-block;
    font-weight:800;
    font-size:28px;
    letter-spacing:6px;
    line-height:1.3;
    text-align:center;
    min-width:48px;
    font-family: 'cwTeXYen', sans-serif; 
}  
.interest-text{
    margin:0;
    font-size:22px;
    line-height:1.9;
    color:#222;
    text-align:justify;
    font-family: 'cwTeXYen', sans-serif; 
}
  
.interest-gallery{
    display:flex;
    justify-content:center;
    gap:16px;
    margin:18px auto 8px;
}
  
.interest-gallery img{
    width:300px;         
    height:auto;
    object-fit:cover;
    border-radius:10px;
    box-shadow:0 6px 14px rgba(0,0,0,.08);
    border:1px solid #e1dbd2;
}
  
.skills-section h2{
    text-align:center;
    font-size:28px;
    letter-spacing:6px;
    margin-bottom:25px;
    font-weight:700;
}
  
.skills-grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:35px;
    justify-items:center;
    margin-top:20px;
}
  
.circle-frame{
    width:200px;
    height:200px;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
}
  
svg{
    fill:none;
    stroke-width:18;
}
  
.circle01{
    stroke:#ddd;
}
  
.circle02-70{
    stroke:#2c7be5;
    stroke-dasharray:440;
    stroke-dashoffset:440;
    animation:progress70 2s ease forwards;
    transform: rotate(-90deg);
    transform-origin:center;
}
  
.circle02-65{
    stroke:#00a8ff;
    stroke-dasharray:440;
    stroke-dashoffset:440;
    animation:progress65 2s ease forwards;
    transform: rotate(-90deg);
    transform-origin:center;
}
  
.circle02-90{
    stroke:#ff9f1c;
    stroke-dasharray:440;
    stroke-dashoffset:440;
    animation:progress90 2s ease forwards;
    transform: rotate(-90deg);
    transform-origin:center;
}
  
  .circle02-85{
    stroke:#ff5e7e;
    stroke-dasharray:440;
    stroke-dashoffset:440;
    animation:progress85 2s ease forwards;
    transform: rotate(-90deg);
    transform-origin:center;
  }
  
.circle02-82{
    stroke:#8c52ff;
    stroke-dasharray:440;
    stroke-dashoffset:440;
    animation:progress82 2s ease forwards;
    transform: rotate(-90deg);
    transform-origin:center;
}
  
  @keyframes progress70{ to{stroke-dashoffset:132;} }
  @keyframes progress65{ to{stroke-dashoffset:154;} }
  @keyframes progress90{ to{stroke-dashoffset:44;} }
  @keyframes progress85{ to{stroke-dashoffset:66;} }
  @keyframes progress82{ to{stroke-dashoffset:79;} }
  
  .circle-frame .text{
    position:absolute;
    text-align:center;
  }
  .circle-frame .text h3{
    margin:0;
    font-size:22px;
    font-weight:700;
  }
  .circle-frame .text p{
    font-size:20px;
    margin:4px 0 0;
    font-weight:600;
  }

.experience-section h2{
    text-align: center;
    font-size: 32px;
    letter-spacing: 8px;
    margin-bottom: 25px;
}
  
.exp-block{
    background:#e9e5e1;
    padding:25px;
    border-radius:18px;
    margin-bottom:26px;
}

.exp-row{
    display:flex;
    justify-content:space-between;
    align-items:flex-start; 
    gap:18px;
}

.exp-left{ width: 68%; }
.exp-right{
    width:32%;
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    align-content:flex-start; 
}

.exp-title{
    font-size:26px;
    font-weight:700;
    letter-spacing:3px;
    margin-bottom:10px;
    font-family: 'cwTeXYen', sans-serif; 
}

.exp-text{
    font-size:20px;
    line-height:1.9;
    text-align:justify;
    font-family: 'cwTeXYen', sans-serif; 

}

.exp-mid{
    width: 270px;
    height:160px;
    object-fit:cover;
    border-radius:12px;
}

.exp-cert{
    width:162px;
    height:auto;
    border-radius:12px;
}

.exp-right.one img{
    width:105%;
    margin:0 auto;
    display:block;
}

.activities-section h2{
    text-align: center;
    font-size: 32px;
    letter-spacing: 8px;
    margin-bottom: 25px;
}

.act-block{
    background:#e9e5e1;
    padding:25px;
    border-radius:18px;
    margin-bottom:26px;
}

.act-row{
    display:flex;
    justify-content:space-between;
    gap:18px;
}

.act-left{ width: 68%; }
.act-right{
    width:32%;
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    align-content:flex-start;
}

.act-title{
    font-size:26px;
    font-weight:700;
    letter-spacing:3px;
    margin-bottom:10px;
    font-family: 'cwTeXYen', sans-serif; 

}

.act-text{
    font-size:20px;
    line-height:1.9;
    text-align:justify;
    font-family: 'cwTeXYen', sans-serif; 

}

.pic-wide{
    width: 350px;
    height:230px;
    object-fit:cover;
    border-radius:12px;
}

.pic-mid{
    width: 350px;
    height:230px;
    object-fit:cover;
    border-radius:12px;
}

.pic-rect-sm{
    width: 250px;
    height:340px;
    border-radius:14px;
}

.pic-cert{
    width: 162px;
    height:auto;
    border-radius:12px;
}

@media(max-width:900px){
  .act-row{ flex-direction:column; }
  .act-left, .act-right{ width:100%; }
  .pic-mid{ width:100%; }
}

@media (max-width: 900px){
    .about-container{
        flex-direction: column;
        text-align: center;
    }
    .profile{
        width: 90%;
        margin: 0 auto;
    }
    .about-section p{
        width: 100%;
        text-indent: 0;
        margin-top: 10px;
    }
}
